<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<section class="mbr-section form3 cid-r47rnLwSFj" id="form3-a">

    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">Start</h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">Enter your name and press start with the current settings:</h3>
		<h4 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">Nodes: {{nodes}}, Rounds: {{rounds}}, Delay: {{delay}} </h4>
 
            </div>
        </div>

        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">

                <form class="mbr-form" method="post">
                    <div class="mbr-subscribe input-group">
                        <input class="form-control" type="text" name="Name" placeholder="Name" required="" id="Name">
                        <span class="input-group-btn"><button type="submit" value='Start' name='start_button' class="btn  btn-info display-4">START</button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>



<section class="section-table cid-r47nAuYJlF" id="table1-7">
  <div class="container container-table">
      <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-1">Times</h2>
      <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-5">
            Total time: {{total_time}} </h3>

        <div class="container scroll">
          <table class="table isSearch" cellspacing="0">
            <thead>
              <tr class="table-heads ">
              <th class="head-item mbr-fonts-style display-7">
                      ROUND</th><th class="head-item mbr-fonts-style display-7">
                      TIME</th></tr>
            </thead>
            <tbody>
              {% for time in split %}
                <tr><td class="body-item mbr-fonts-style display-7">{{loop.index}}</td><td class="body-item mbr-fonts-style display-7">{{ time }}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</section>

{% endblock %}
